In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_array = school_data["school_name"].unique()
school_count = len(school_array)
school_count

15

In [4]:
Total_students = school_data["size"].sum()
Total_students

39170

In [5]:
Total_budget = school_data["budget"].sum()
Total_budget

24649428

In [6]:
Average_math = school_data_complete["math_score"].mean()
Average_math

78.98537145774827

In [7]:
Average_read = school_data_complete["reading_score"].mean()
Average_read

81.87784018381414

In [8]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] > 69)].count()["student_name"]
passing_read_count = school_data_complete[(school_data_complete["reading_score"] > 69)].count()["student_name"]
passing_overall_count = school_data_complete[(school_data_complete["reading_score"] > 69) & (school_data_complete["math_score"] > 69)].count()["student_name"]
percent_math_pass = (passing_math_count/Total_students) * 100
percent_read_pass = (passing_read_count/Total_students) * 100
percent_overall_pass = (passing_overall_count/Total_students) * 100
print(passing_math_count)
print(passing_read_count)
print(percent_math_pass)
print(percent_read_pass)
print(percent_overall_pass)

29370
33610
74.9808526933878
85.80546336482001
65.17232575950983

In [9]:
Dist_sum = pd.DataFrame({"Total Schools": [school_count], "Total Students": [Total_students], "Total Budget": [Total_budget], "Average Math Score": [Average_math], "Average Reading Score":[Average_read], "% Passing Math": [percent_math_pass], "% Passing Reading": [percent_read_pass], "% Overall Passing": [percent_overall_pass]})
Dist_sum

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [10]:
types = school_data.set_index("school_name")['type']
types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [11]:
students_per_school = school_data_complete["school_name"].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [12]:
budgets_per_school = school_data.groupby("school_name").sum()['budget']
budgets_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [13]:
budget_per_student = budgets_per_school/students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [14]:
math_score_per_school = school_data_complete.groupby("school_name").mean()['math_score']
math_score_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [15]:
read_score_per_school = school_data_complete.groupby("school_name").mean()['reading_score']
read_score_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
math_num  = school_data_complete[(school_data_complete["math_score"] > 69)].groupby("school_name").count()["student_name"]
perc_math = math_num / students_per_school *100
perc_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [17]:
read_num  = school_data_complete[(school_data_complete["reading_score"] > 69)].groupby("school_name").count()["student_name"]
perc_read = read_num / students_per_school *100
perc_read

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [18]:
overall_num  = school_data_complete[(school_data_complete["math_score"] > 69) & (school_data_complete["reading_score"] > 69)].groupby("school_name").count()["student_name"]
perc_overall = overall_num / students_per_school *100
perc_overall

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [19]:
School_sum = pd.DataFrame({"School Type": types,
                         "Total Students": students_per_school,
                         "Total School Budget": budgets_per_school,
                         "Per Student Budget": budget_per_student,
                         "Average Math Score": math_score_per_school,
                         "Average Reading Score":read_score_per_school,
                         "% Passing Math": perc_math,
                         "% Passing Reading": perc_read,
                         "% Overall Passing": perc_overall})
School_sum

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [20]:
sort_school_df_Top_overall = School_sum.sort_values(
    ["% Overall Passing"], ascending=False)
sort_school_df_Top_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [21]:
sort_school_df_Bottom_overall = School_sum.sort_values(
    ["% Overall Passing"], ascending=False)
sort_school_df_Bottom_overall.tail()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [22]:
math_9th_average = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()['math_score']
math_9th_average

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [23]:
math_10th_average  = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()['math_score']
math_10th_average

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [24]:
math_11th_average = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()['math_score']
math_11th_average

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [25]:
math_12th_average  = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()['math_score']
math_12th_average

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [26]:
Grade_math_mean = pd.DataFrame({"9th": math_9th_average,
                                "10th": math_10th_average,
                                "11th": math_11th_average,
                                "12th": math_12th_average})
Grade_math_mean

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [27]:
read_9th_average = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()['reading_score']
read_9th_average

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [28]:
read_10th_average = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()['reading_score']
read_10th_average

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [29]:
read_11th_average = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()['reading_score']
read_11th_average

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [30]:
read_12th_average = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()['reading_score']
read_12th_average

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [31]:
Grade_read_mean = pd.DataFrame({"9th": read_9th_average,
                                "10th": read_10th_average,
                                "11th": read_11th_average,
                                "12th": read_12th_average})
Grade_read_mean

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [33]:
budget_bins_titles = ["<$585", "$585-630", "$630-645", "$645-680"] 
spending_math_average1 = School_sum[School_sum["budget_per_student"] < 585].mean()['math_score']
spending_math_average2 = School_sum[(School_sum["budget_per_student"] > 584)
                                    & (School_sum["budget_per_student"] < 630)].mean()['math_score']
spending_math_average3 = School_sum[(School_sum["budget_per_student"] > 629)
                                    & (School_sum["budget_per_student"] < 645)].mean()['math_score']
spending_math_average4 = School_sum[(School_sum["budget_per_student"] > 644)
                                    & (School_sum["budget_per_student"] < 680)].mean()['math_score']
budget_bins = [spending_math_average1, spending_math_average2, spending_math_average3, spending_math_average4]
budget_bins

KeyError: 'budget_per_student'

In [36]:
spending_math_average1 = School_sum[School_sum["budget_per_student"] < 585].mean()['math_score']
spending_math_average = spending1_math_average.groupby("budget_bins_titles")
spending_math_average

KeyError: 'budget_per_student'

In [ ]:
spending2_math_average = School_sum[(School_sum["budget_per_student"] > 584) & (School_sum["budget_per_student"] < 630)].groupby("budget_per_student").mean()['math_score']
spending2_math_average

In [ ]:
spending3_math_average = School_sum[(School_sum["budget_per_student"] > 629) & (School_sum["budget_per_student"] < 645)].groupby("budget_per_student").mean()['math_score']
spending3_math_average

In [ ]:
spending4_math_average = School_sum[(School_sum["budget_per_student"] > 644) & (School_sum["budget_per_student"] < 680)].groupby("budget_per_student").mean()['math_score']
spending4_math_average